#root {
  max-width: 500px;
  height: 100dvh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  padding: 2rem;
}

/* .read-the-docs {
  color: #888;
} */
